/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Fjalla One', sans-serif;
  background-color: #6B686C;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Anton', sans-serif;
}
h1 {
  font-size: 4rem;
  color: #C84C09;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.header {
  width: 100%;
  padding: 25px 0px 0px 0px;
  background-color: #0E0D0D;
  border-radius: 15px;
  margin-top: 10px;
  padding: 20px;
}
a {
  color: #C84C09;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 10px 0px;
  padding: 15px;
}
a:hover {
  color: whitesmoke;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
  }
}
.footer {
  width: 100%;
  border-top: 1px solid silver;
  background: #0E0D0D;
}
.footer p {
  text-align: center;
  color: #6B686C;
  font-size: 1.6rem;
  padding: 20px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-section {
    flex-direction: column;
  }
}
.home .content-section .welcome {
  background: url(../img/chainsaw.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin: 0px 0px 20px 0px;
  border-radius: 15px;
}
.home .content-section .top {
  align-items: center;
  text-align: center;
  width: 100vw;
}
.home .content-section .cta {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border: 2px black solid;
}
.home .content-section .cta .cta-title {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}
.home .content-section .cta .cta-title h1 {
  font-size: 50px;
}
.home .content-section .cta .cta-title button {
  border: 1px solid black;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 7px;
  background-color: gray;
}
.home .content-section .cta .cta-title button:hover {
  background-color: #C84C09;
}
.home .content-section .angle {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: 5px;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
  border-radius: 15px;
  border: 2px black solid;
  background-color: #C84C09;
  padding: 10px;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
    padding: 10px 0px;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media only screen and (max-width: 500px) {
  .home .content-section .img-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
}
@media (max-width: 500px) {
  .home .inverse-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .text-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .img-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
.home .content-testomonials {
  margin: 0 auto 30px;
  border-radius: 15px;
  background: url(../img/weld.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.home .content-testomonials img {
  border-radius: 10px;
}
.home .content-testomonials .tests {
  background-color: rgba(200, 76, 9, 0.5);
  border: 2px black solid;
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
  text-align: center;
}
.home .content-testomonials .tests .test-text {
  text-align: left;
}
